on boot
    chown system system /sys/class/touch/tp_dev/fod_status
    chmod 0644 /sys/class/touch/tp_dev/fod_status
    chmod 0644 /sys/class/touch/tp_dev/aod_status
    chmod 0666 /dev/input/event1
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display/fod_hbm
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display/dimlayer_hbm
    chmod 0666 /sys/devices/platform/soc/soc:qcom,dsi-display/dimlayer_hbm

on init
    # Goodix fingerprint
    chown system system /dev/goodix_fp

service fingerprint-inscreen-1-0 /vendor/bin/hw/vendor.lineage.biometrics.fingerprint.inscreen@1.0-service.xiaomi_laurel_sprout
    interface vendor.lineage.biometrics.fingerprint.inscreen@1.0::IFingerprintInscreen default
    class hal
    user system
    group system
    shutdown critical
